.new_button {
    display: inline-block;
    padding: 8px 10px; 
    cursor: pointer;
    border-radius: 4px;
    background-color: #2D8EDD;
    font-size: 16px;
    color: #fff;
    width:102px;
}

input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 6px;
  left:7%;
  font-size: 15px;
  color: rgb(153,153,153);
  width:300px;
}

.button_wrap {
  position: relative;
}



